body{
	margin: auto;
	background-color: #edf3f8;
	max-width: 800px;

}


h1, p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: #000000;


}

body h1{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 48px;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0em;
	line-height: 1.3em;
	text-align: left;
	color: black;
	padding-bottom: 16px;

}

main p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height:1.5em;
	text-align: left;
	max-width: 800px;
	color: #253544;

}

/* unvisited link */

a {
  color: #253544;
  text-decoration: none;
}

/* visited link */

a:visited {
	color: #253544;
	text-decoration: none;
}

/* mouse over link */

a:hover {
	color: #4989c4;
	text-decoration: none;
}

/* active */

a:active {
	color: #4989c4;
	text-decoration: none;
}

.center{
	padding-top: 300px;
}

